<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Search with Images</title>
    <script src="/autocomplete.js" defer></script>
    <link rel="stylesheet" href="osrsge.css">

</head>
<body>
    <h1>Item Database</h1>
    <form action="/search" method="POST">
        <label for="itemName">Item Name:</label>
        <input type="text" id="itemName" name="itemName" class="form-control" autocomplete="off" oninput="fetchItemNames(this.value)">
        <div id="suggestions" class="dropdown"></div> <!-- Custom dropdown for suggestions -->
        <br>
    </form>

</body>
</html>
